<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <title>Admin panel</title>
</head>
<body>

<!--Шапка с кнопкой logout-->
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="">
        <span class="font-weight-bold" th:text="${thisUser.email}"/> with roles:
        <span th:each="role : ${thisUser.getRoles()}">
            <span th:text="${role.getAuthority()}"/>
        </span>
    </a>
    <form class="form-inline" th:action="@{/logout}">
        <button type="submit" class="btn btn-dark ml-auto">Logout</button>
    </form>
</nav>


<div class="d-flex" style="height: 100vh">
    <!--    Левая навигация Admin/User  -->

    <div class="nav flex-column nav-pills col-2 mt-3">
        <a class="nav-link active" href="/admin">Admin</a>
        <a class="nav-link" href="/user">User</a>
    </div>

    <!--    Админ панель    -->
    <div class="container-fluid bg-light">
        <div class="tab-content mt-3">
            <div class="container-fluid">
                <div class="h1">Admin Panel</div>

                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" id="list-tab" data-toggle="tab" href="#list">User table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="new-tab" data-toggle="tab" href="#new">New User</a>
                    </li>
                </ul>


                <div class="tab-content">
                    <!--   All users    -->
                    <div class="tab-pane fade show active" id="list" aria-labelledby="list-tab">
                        <div class="card">
                            <h4 class="card-header">All users</h4>
                            <div class="card-body">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Age</th>
                                        <th>Email</th>
                                        <th>Role</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="user : ${usersList}">
                                        <td th:text="${user.id}"></td>
                                        <td th:text="${user.name}"></td>
                                        <td th:text="${user.surname}"></td>
                                        <td th:text="${user.age}"></td>
                                        <td th:text="${user.email}"></td>
                                        <td>
                                            <span th:each="role : ${user.getAuthorities()}" id="role">
                                                <span th:text="${role.getAuthority()}">roles</span>
                                            </span>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-info" data-toggle="modal"
                                                    th:href="@{'#edit_user_'+${user.getId()}}">
                                                Edit
                                            </button>
                                            <div class="modal fade" th:id="'edit_user_'+${user.getId()}" tabindex="-1"
                                                 role="dialog" aria-labelledby="updateModalLabel"
                                                 aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="updateModalLabel">Edit
                                                                user</h5>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form th:id="'form_edit_user_'+${user.getId()}"
                                                                  th:action="@{/admin/update}"
                                                                  th:method="post"
                                                                  th:object="${newUser}">
                                                                <div class="col-md-7 offset-md-3 text-center">
                                                                    <div class="form-group">
                                                                        <span class="font-weight-bold">ID</span>
                                                                        <input type="text" th:value="${user.getId()}"
                                                                               th:name="id" class="form-control"
                                                                               readonly>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <span class="font-weight-bold">First name</span>
                                                                        <input type="text" th:value="${user.getName()}"
                                                                               th:name="name" class="form-control">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <span class="font-weight-bold">Last name</span>
                                                                        <input type="text"
                                                                               th:value="${user.getSurname()}"
                                                                               th:name="surname" class="form-control">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <span class="font-weight-bold">Age</span>
                                                                        <input type="text" th:value="${user.getAge()}"
                                                                               th:name="age" class="form-control">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <span class="font-weight-bold">Email</span>
                                                                        <input type="text" th:value="${user.getEmail()}"
                                                                               th:name="email" class="form-control">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <span class="font-weight-bold">Password</span>
                                                                        <input type="text"
                                                                               th:value="${user.getPassword()}"
                                                                               th:name="password" class="form-control">
                                                                    </div>
                                                                    <div class="form-group mb-0 fw-bold">
                                                                        <span class="font-weight-bold">Role</span>
                                                                        <select multiple class="form-control"
                                                                                name="index" size="2">
                                                                            <div th:each="role : ${allRoles}">
                                                                                <option th:text="${role.name}"
                                                                                        th:value="${role.id}"
                                                                                        th:field="*{roles}"/>
                                                                            </div>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal">Close
                                                            </button>
                                                            <button type="submit" class="btn btn-primary"
                                                                    th:form="'form_edit_user_'+${user.getId()}">Edit
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        <td>
                                            <button type="button" class="btn btn-danger" data-toggle="modal"
                                                    th:href="@{'#delete_user_'+${user.getId()}}">
                                                Delete
                                            </button>
                                            <div class="modal fade" th:id="'delete_user_'+${user.getId()}" tabindex="-1"
                                                 role="dialog" aria-labelledby="deleteModalLabel"
                                                 aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="deleteModalLabel">Delete
                                                                user</h5>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form th:id="'form_delete_user_'+${user.getId()}"
                                                                  th:action="@{/admin/delete}"
                                                                  th:method="post">
                                                                <div class="col-md-7 offset-md-3 text-center">
                                                                    <div class="form-group">
                                                                        <span class="font-weight-bold">ID</span>
                                                                        <input type="text" th:value="${user.getId()}"
                                                                               th:name="id" class="form-control"
                                                                               readonly>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <span class="font-weight-bold">First name</span>
                                                                        <input type="text" th:value="${user.getName()}"
                                                                               th:name="name" class="form-control"
                                                                               readonly>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <span class="font-weight-bold">Last name</span>
                                                                        <input type="text"
                                                                               th:value="${user.getSurname()}"
                                                                               th:name="surname" class="form-control"
                                                                               readonly>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <span class="font-weight-bold">Age</span>
                                                                        <input type="text" th:value="${user.getAge()}"
                                                                               th:name="age" class="form-control"
                                                                               readonly>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <span class="font-weight-bold">Email</span>
                                                                        <input type="text" th:value="${user.getEmail()}"
                                                                               th:name="email" class="form-control"
                                                                               readonly>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <span class="font-weight-bold">Role</span>
                                                                        <select multiple class="form-control"
                                                                                name="index" size="2" readonly>
                                                                            <div th:each="role : ${allRoles}">
                                                                                <option th:text="${role.name}"
                                                                                        th:value="${role.id}"/>
                                                                            </div>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal">Close
                                                            </button>
                                                            <button type="submit" class="btn btn-danger"
                                                                    th:form="'form_delete_user_'+${user.getId()}">Delete
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--                    ADD USER -->
                    <div class="tab-pane fade" id="new" aria-labelledby="new-tab">
                        <div class="card">
                            <h4 class="card-header">Add new user</h4>
                            <div class="card-body">
                                <form th:action="@{/admin/create}" th:method="post" th:object="${newUser}">
                                    <div class="col-md-3 offset-md-4 text-center">
                                        <div class="form-group">
                                            <span class="font-weight-bold">First name</span>
                                            <input type="text" th:field="*{name}"
                                                   th:name="name" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <span class="font-weight-bold">Last Name</span>
                                            <input type="text" th:field="*{surname}"
                                                   th:name="surname" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <span class="font-weight-bold">Age</span>
                                            <input type="text" th:field="*{age}"
                                                   th:name="age" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <span class="font-weight-bold">Email</span>
                                            <input type="text" th:field="*{email}"
                                                   th:name="email" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <span class="font-weight-bold">Password</span>
                                            <input type="text" th:field="*{password}"
                                                   th:name="password" class="form-control">
                                        </div>
                                        <div class="form-group mb-0 fw-bold">
                                            <span class="font-weight-bold">Role</span>
                                            <select multiple class="form-control"
                                                    name="index" size="2">
                                                <div th:each="role : ${allRoles}">
                                                    <option th:text="${role.name}"
                                                            th:value="${role.id}"
                                                            th:field="*{roles}"/>
                                                </div>
                                            </select>
                                        </div>
                                        </br>
                                        <div class="form-group">
                                            <span class="font-weight-bold"></span>
                                            <button type="submit" class="btn btn-success btn-lg">Add new user</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>